.member-item-container {
    position: relative;
    padding: 10px 14px;
    box-sizing: border-box;
    height: 150px;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    transition: all .2s;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background: url("../assets/images/member_item_bg.png");
    .item-name {
      z-index: 1;
      height: 21px;
      line-height: 21px;
      font-size: 16px;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .9) 0 1px 1px;
      span {
        color: #fff;
        overflow: hidden;
        display: inline-block;
        width: 80%;
      }
    }
    .item-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 10px;
      width: 100%;
      box-sizing: border-box;
      .app-status {
        height: 22px;
        line-height: 22px;
        font-size: 11px;
        padding: 0 4px;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        background-color: #f5bc21;
        border-radius: 3px;
        outline: none;
        display: inline-block;
      }
      .action-container {
        display: none;
        float: right;
        i {
          color: #fff;
          font-size: 16px;
          text-shadow: rgba(0, 0, 0, .9) 0 1px 1px;
          outline: none;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
    &:hover {
      transform-style: flat;
      transform: translateY(-5px);
      box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
      .action-container{
        display: block;
      }
    }
  }